<!doctype html>

 <html lang="en"> 
    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <title>Logged In</title>
    </head>

    <body>
        <div class="container">
            <br>
        <div class="text-center">
            <h1>Here is all the login info</h1>
        </div>
        <p>_____________________________</p>
        <% for (var i in registration) {%>
            <h5>Name: <%= registration[i].first_name %> <%= registration[i].last_name %></h5>
            <p><strong>Email: </strong><%= registration[i].email %></p>
            <p><strong>Birthday: </strong><%= registration[i].birthday %></p>
            <p>_____________________________</p>
        <%}%>
        <a href="/">Back</a>
        </div>
    </body>
</html>