<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <div class="container">
        <form (submit)="searchB()">
            <input
                type="text"
                name="search"
                id="search"
                [(ngModel)]="search.content"
                [value]="search.content"
                >
            <button type="sumbit" class="btn-sm">Search</button>
        </form>
    </div> -->
    <div class="text-center">
        <h3>Bike Listings</h3>
    </div>
</body>
<app-bike-list *ngFor="let bike of bikes" [allBikes]= "bike" [myId]="id" (emitter)="updateList()">
</app-bike-list>

